<div>
   <div ng-show="consultant_information_message" class="alert alert-success">
         Consultant Updated Successfully!
   </div>
<form class="well form-horizontal" ng-submit="update_consultant()">
   <fieldset>
      <legend>
         Consultant
      </legend>
      <div class="control-group">
         <label class="control-label" for="first_name">First Name</label>
         <div class="controls">
            <input type="text" name="first_name" 
               ng-model="application.consultant.first_name" required/>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="last_name">Last Name</label>
         <div class="controls">
            <input type="text" name="last_name"
               ng-model="application.consultant.last_name" required />
         </div>
      </div>
      <div class="control-group">
         <div class="controls">
            <button class="btn btn-primary"><i class="icon-ok"></i>Save</button>
         </div>
      </div>
   </fieldset>
</form>
</div>

