<!DOCTYPE html>

{% extends "cfz_requirejs_master.jinja" %}

{% block master_title %}
CFZ | Vehicle Passes
{% endblock %}

{% block master_head %}
<script type="text/javascript" data-main="{{tg.url('/javascript/main-vehiclepass.js')}}"
      src="{{tg.url('/javascript/require.js')}}">
</script>
<link rel="stylesheet" type="text/css" media="screen"
   href="{{tg.url('/css/jquery-ui-1.8.21.custom.css')}}" />
{% endblock master_head %}

{% block main %}
   <div class="row-fluid">
      <div class="span3">
         <div class="well well-large sidebar-nav">
            <ul class="nav nav-list">
               {% include "company/sidebar_no_search.jinja" %}
            </ul>
         </div> <!-- /sidebar-nav -->
      </div> <!-- /span3  -->

      <div class='span9'> 
         <div id='content' class='span12'>
            <form class="form-horizontal">
            </form>
         </div> <!-- /content !-->
         <div id="mainpanel">
         </div>
      </div> <!-- /span12 !-->

   </div> <!-- row-fluid -->
{% endblock main%} 
