<!DOCTYPE html>
<h1>Vehicle Passes</h1>
<table class="table table-bordered table-striped">
   <thead>
      <tr>
         <th>Id</th>
         <th>Owner</th>
      </tr>
   </thead>
   <tbody>
      <% _.each(vehiclepasses, function(vehiclepass){%>
      <tr>
         <td><%= vehiclepass.get("id") %></td>
         <td><%= vehiclepass.get("owner") %></td>
      </tr>
      <% }); %>
   </tbody>
</table>
