   <div ng-controller="SearchController">
   <form class="form-search">
      <input type="text" class="input-medium search-query"  name="company_name"
         ng-model="company_name" placeholder="Search" ng-change="search()"></input>
   </form>
   <li class="nav-header">Companies</li>
   <li> 
      <a href="{{ tg.url('/company') }}">
         <i class="icon-list"></i>List Companies
      </a>
   </li>
   </div>

