<!DOCTYPE html>

{% extends "cfz_nojs_master.jinja" %}

{% block master_title %}
CFZ | Companies
{% endblock %}

{% block master_head %}
<script type="text/javascript"  src="{{tg.url('/javascript/app/cfz_utils.js')}}" ></script>
<script type="text/javascript" src="{{tg.url('/javascript/libs/angular-1.0.1.js')}}" >
</script>
<script type="text/javascript" 
   src="{{tg.url('/javascript/libs/angular-resource-1.0.1.min.js')}}" >
</script>
<script type="text/javascript"
   src="{{tg.url('/javascript/app/company/company_list_module.js')}}">
</script>
{% endblock master_head %} 

{% block main %}
<div class="row-fluid" ng-app="company_list_module">
   <div class="span3">
      <div class="well sidebar-nav">
         <ul class="nav nav-list">
            {% include "company/company_sidebar.jinja" %}
         </ul>
      </div> <!-- /sidebar-nav -->
   </div> <!-- /span3  -->

   <div class="span9">
      <h1>Authorized Companies</h1>
      <div id="content"
         ng-controller="CompanyListController">
         <table class="table table-bordered table-striped">
            <thead>
               <tr>
                  <th>Id</th>
                  <th>Company</th>
                  <th>Company Type</th>
                  <th>Manager</th>
                  <th>Registration #</th>
                  <th>Date created</th>
                  <th>Telephone #</th>
                  <th/>
               </tr>
            </tead>
            <tbody>
               {% raw %}
               <tr ng-repeat="company in companies">
                  <td>{{company.id}}</td>
                  <td>{{company.name}}</td>
                  <td>{{company.company_type}}</td>
                  <td>{{company.manager}}</td>
                  <td>{{company.registration_number}}</td>
                  <td>{{company.created_date}}</td>
                  <td>{{company.telephone_number}}</td>
                  <td>
                     <a href="company/show/{{company.id}}" rel="tooltip" title="View & Edit">
                        <i class="icon-eye-open"></i>
                     </a>
                  </td>
               </tr>
               {% endraw %}
            </tbody>
         </table>

      </div><!-- /content !-->

   </div><!-- span9 -->

</div> <!-- row-fluid -->
{% endblock main %}


