   <li class="nav-header">Companies</li>
   <li> 
      <a href="{{ tg.url('/company') }}">
         <i class="icon-list"></i>List Companies
      </a>
   </li>
   <li>
      <a href="{{ tg.url('/company/vehicle_pass') }}">
         <i class="icon-list"></i>Vehicle Passes
      </a>
   </li>

