<!DOCTYPE html>

<div class="alert alert-error">
   The following errors occurred while approving application for {{company}} :
   <ul>
   {% for investor in investors %}
      <li>{{investor.name}} : {{investor.error}}</li>
   {% endfor %} 
   </ul>
</div>

