<!DOCTYPE html>
{% extends "application/master.jinja" %}

{% block master_title %}
CFZ | Denied Applications
{% endblock %}

{% block sidebar %}
<li class="nav-header">Sidebar</li>
<li>
   <a href="{{ tg.url('/application/create') }}">Create Application</a>
</li>
<li>
   <a href="{{ tg.url('/application/list') }}">
      List New Applications
   </a>
</li>
<li>
   <a href="{{ tg.url('/application/pending_applications') }}">
      Pending Applications
   </a>
</li>
<li class="active">
   <a href="{{ tg.url('/application/denied') }}">
      Denied Applications
   </a>
</li>
{% endblock %}

{% block contents %}
      <div id="messages"> 
      </div>

      <div id="applications_table">
         <h1>Denied Applications</h1>
         <table class="table table-bordered table-striped">
            <thead>
               <tr>
                  <th>Id</th>
                  <th>Company</th>
                  <th>Company Type</th>
                  <th>Manager</th>
                  <th>Registration #</th>
                  <th>Date Denied</th>
                  <th/>
               </tr>
            </tead>
            <tbody>
               {% for application in applications %}
               <tr>
                  <td>{{application.id}}</td>
                  <td>{{application.company.name}}</td>
                  <td>{{application.company.company_type}}</td>
                  <td>{{application.company.manager.name()}}</td>
                  <td>{{application.company.registration_number}}</td>
                  <td>{{application.denied_date}}</td>
                  <td>
                     <a href="show/{{application.id}}" rel="tooltip" title="View & Edit">
                        <i class="icon-eye-open"></i>
                     </a>
                  </td>
               </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>

   </div>
{% endblock %}


