{% extends "application/master.jinja" %}

{% block master_title %}
CFZ | New Applications
{% endblock %}


{% block sidebar %}
<li class="nav-header">Sidebar</li>
<li>
   <a href="{{ tg.url('/application/create') }}">Create Application</a>
</li>
<li class="active">
   <a href="{{ tg.url('/application/list') }}">
      List New Applications
   </a>
</li>
<li>
   <a href="{{ tg.url('/application/pending_applications') }}">
      Pending Applications
   </a>
</li>
<li> 
   <a href="{{ tg.url('/application/denied') }}">
      Denied Applications
   </a>
</li>
{% endblock %}

{% block contents %}
      <h1>New Applications</h1>
      <table class="table table-bordered table-striped">
         <thead>
            <tr>
               <th>Id</th>
               <th>Company</th>
               <th>Company Type</th>
               <th>Manager</th>
               <th>Registration #</th>
               <th>Submission Date</th>
               <th>Status</th>
               <th/>
            </tr>
         </tead>
         <tbody>
            {% for application in applications %}
            <tr>
               <td>{{application.id}}</td>
               <td>{{application.company.name}}</td>
               <td>{{application.company.company_type}}</td>
               <td>{{application.company.manager.name()}}</td>
               <td>{{application.company.registration_number}}</td>
               <td>{{application.get_submission_date()}}</td>
               <td>{{application.status}}</td>
               <td>
                  <a href="show/{{application.id}}" rel="tooltip" title="View & Edit"><i class="icon-eye-open"></i></a>
               </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>

{% endblock %}

