{% extends "cfz_master.jinja" %}

{% block master_head %}

{% endblock %}

{% block master_title %}
Welcome to TurboGears 2.2, standing on the shoulders of giants, since 2007
{% endblock %}

{% block sidebar%}

{% endblock %}

{% block contents %}
{% endblock %}

