<!DOCTYPE html>

{% extends "application/no_js_master.jinja" %}

{% block master_title %}
CFZ | Pending Applications
{% endblock %}

{% block master_head%}
   <script type="text/javascript"  
      src="{{tg.url('/javascript/app/cfz_utils.js')}}" >
   </script>
   <script type="text/javascript" 
      src="{{tg.url('/javascript/libs/jquery-ui-1.8.21.custom.min.js')}}">
   </script>
   <script type="text/javascript" src="{{tg.url('/javascript/libs/angular-1.0.1.js')}}" >
   </script>
   <script type="text/javascript" 
      src="{{tg.url('/javascript/libs/angular-resource-1.0.1.min.js')}}" >
   </script>
   <script type="text/javascript" 
      src="{{tg.url('/javascript/app/applications/pending_applications_module.js')}}">
   </script>
   <script type="text/javascript" 
      src="{{tg.url('/javascript/libs/bootstrap-modal.js')}}" >
   </script>
   <link rel="stylesheet" type="text/css" media="screen"
      href="{{tg.url('/css/jquery-ui-1.8.21.custom.css')}}" />
   <script type="text/javascript" 
      src="{{tg.url('/javascript/libs/jquery-ui-1.8.21.custom.min.js')}}">
   </script>
   <link rel="stylesheet" type="text/css" media="screen" 
      href="{{tg.url('/javascript/libs/angular-ui/angular-ui.min.css')}}" />
   <script type="text/javascript" 
      src="{{tg.url('/javascript/libs/angular-ui/angular-ui.js')}}">
   </script>

{% endblock %} 


{% block sidebar %}
<li class="nav-header">Sidebar</li>
<li>
   <a href="{{ tg.url('/application/create') }}">Create Application</a>
</li>
<li>
   <a href="{{ tg.url('/application/list') }}">
      List New Applications
   </a>
</li>
<li class="active">
   <a href="{{ tg.url('/application/pending_applications') }}">
      Pending Applications
   </a>
</li>
<li> 
   <a href="{{ tg.url('/application/denied') }}">
      Denied Applications
   </a>
</li>
{% endblock %}

{% block contents %}

<h1>Pending Applications</h1>
<div id="content" ng-app="pending_applications_module" 
   ng-controller="PendingApplicationsController">

   <div ng-view>
   </div>

</div>

{% endblock %}
