<!DOCTYPE html>
{% extends "application/master.jinja" %}

{% block master_head %}
<script type="text/javascript" src="{{tg.url('/javascript/app/shareholder_validators.js')}}"></script>
   <script type="text/javascript" src="{{tg.url('/javascript/app/applications/edit.js')}}"></script>
   <script type="text/javascript" src="{{tg.url('/javascript/app/applications/investor.js')}}"></script>
   <script type="text/javascript" src="{{tg.url('/javascript/app/applications/description_of_goods.js')}}"></script>
{% endblock %}

{% block master_title %}
Welcome to TurboGears 2.2, standing on the shoulders of giants, since 2007
{% endblock %}

{% block sidebar %}
<li class="nav-header">Sidebar</li>
<li>
   <a href="{{ tg.url('/application/create') }}">Create Application</a>
</li>
<li>
   <a href="{{ tg.url('/application/list') }}">
      List New Applications
   </a>
</li>
<li>
   <a href="{{ tg.url('/application/pending_applications') }}">
      Pending Applications
   </a>
</li>
<li> 
   <a href="{{ tg.url('/application/denied') }}">
      Denied Applications
   </a>
</li>
{% endblock %}

{% block contents %}
<div ng-app="application" ng-controller="ApplicationMainController">

      <div id="edit-pane" >
      <h1>Application Information</h1>

      <ul class="nav nav-pills" id="tabs" > 
         <li class="active" id="general-li">
            <a ng-click="setRoute('general')">General Information</a>
         </li>
         <li id="contact-li">
            <a ng-click="setRoute('contact-information')">Contact Information</a>
         </li>
         <li id="address-li">
            <a ng-click="setRoute('address')">Address</a>
         </li>
         <li id="consultant-li">
            <a ng-click="setRoute('consultant')">Consultant</a>
         </li>
         <li id="manager-li">
            <a ng-click="setRoute('manager')">Manager</a>
         </li>
         <li id="investors-li">
            <a ng-click="setRoute('investors')">Investors</a>
         </li>
         <li id="description-of-goods-li">
            <a ng-click="setRoute('description_of_goods')">Description of Goods</a>
         </li>
      </ul>
      </div> <!-- /#edit-pane -->

      <div ng-view >
      </div>


</div>

{% endblock %}

