{% extends "master.jinja" %}

{% block master_title %}
CFZ Registry
{% endblock %}

{% block contents %}
<div class="row">
    <div class="hidden-phone span12">
        <div class="hero-unit">
            <h1>Welcome to CFZ Companies Registry</h1>
            <p>A tool to keep track of companies profiles & activities inside the CFZ<p>
            <p>
                <a class="btn btn-primary btn-large" href="#" target="_blank">
                    {{h.icon('book', True)}} Learn more
                </a>
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="span4">
        <h3>Manage Company Applications</h3>
        <p>Keep track of a companies application submission.</p>
    </div>

    <div class="span4">
        <h3>Manage your companies information</h3>
        <p>Easily store & retrieve information and reports related to companies within the CFZ</p>
    </div>

    <div class="span4">
        <h3>Track Special Requests</h3>
        <p>Manage all special requests submitted by companies within the CFZ</p>
    </div>
</div>

{% endblock %}
