<!DOCTYPE html>
<div id="address_message">
</div>

<form class="well well-large form-horizontal" ng-submit="update_address()">
   <fieldset>
      <legend>
         Address
      </legend>

      <div class="control-group">
         <label class="control-label" for="state">
            State
         </label>
         <div class="controls">
            <input type="text" name="state"
               ng-model="company.state" />
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="country">
            Country
         </label>
         <div class="controls">
            <input type="text" name="country"
               ng-model="company.country">
         </div>
      </div>
      <div class="control-group">
         <div class="controls">
            <button class="btn btn-primary">
               <i class="icon-ok"></i>
                  Save
            </button>
         </div>
      </div>
   </fieldset>
</form>
