<!DOCTYPE html>
<div id="contact_numbers_message">
</div>

<form class="well form-horizontal" ng-submit="update_contact_numbers()">
   <fieldset>
      <legend>
         Contact Numbers
      </legend>
      <div class="control-group">
         <label class="control-label" for="telephone_number">
            Telephone #
         </label>
         <div class="controls">
            <input type="text" name="telephone_number"
               ng-model="company.telephone_number" required/>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="fax_number">
            Fax #
         </label>
         <div class="controls">
            <input type="text" name="fax_number"
               ng-model="company.fax_number" />
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="cable_number">
            Cable #
         </label>
         <div class="controls">
            <input type="text" name="cable_number" 
               ng-model="company.cable_number"/>
         </div>
      </div>
      <div class="control-group">
         <div class="controls">
            <button class="btn btn-primary">
               <i class="icon-ok"></i>
               Save
            </button>
         </div>
      </div>
   </fieldset>
</form>
