<div class="well well-large">
   <dl>
      <dt>
         <h4>General Information</h4>
      </dt>
   </dl>
   <dl class="dl-horizontal">
      <dt><small>Registration #: </small></dt>
      <dd>{{ company.registration_number}}</dd>
   </dl>
   <dl class="dl-horizontal">
      <dt><small>Telephone #:</small></dt>
      <dd>{{ company.telephone_number}}</dd>
   </dl>
   <dl class="dl-horizontal">
      <dt><small>Company Type:</small></dt>
      <dd>{{ company.company_type }}</dd>
   </dl>
   <dl class="dl-horizontal">
      <dt><small>Date Created:</small></dt>
      <dd>{{company.created_date}}</dd>
   </dl>
   <dl class="dl-horizontal">
      <dt><small>Manager:</small></dt>
      <dd>{{ company.manager }}</dd>
   </dl>
   <div>
      <h5>Acceptance Letter Sent On:</h5>
      {{company.date_sent_letter_of_acceptance}}
   </div>
   <form class="form-horizontal" ng-show="show_acceptance_letter_form"
      ng-submit="save_date_sent_letter_of_acceptance()">
      <div class="control-group">
         <label class="control-label" for="date_sent_letter_of_acceptance">
            Date Letter Sent
         </label>
         <div class="controls">
            <input name="date_sent_letter_of_acceptance" 
               ng-model="date_sent_letter_of_acceptance"
               ui-date="dateOptions" ng-required="true"/>
         </div>
         <div class="control-group">
            <div class="controls">
               <button class="btn btn-primary">
                  <i class="icon-ok"></i>
                  Save
               </button>
            </div>
         </div>
      </div>
   </form>
</div>
