<div id="messages"> 
</div>
<div>
<form class="form-search well">
   <input type="text" class="input-medium search-query"  name="company_name"
      ng-model="company_name" ng-change="search()" placeholder="Search"></input>
</form>
<table class="table table-bordered table-striped">
   <thead>
      <tr>
         <th>Id</th>
         <th>Company</th>
         <th>Company Type</th>
         <th>Manager</th>
         <th>Registration #</th>
         <th>Date created</th>
         <th>Telephone #</th>
         <th/>
      </tr>
   </tead>
   <tbody>
      <tr ng-repeat="company in companies">
         <td>{{company.id}}</td>
         <td>{{company.name}}</td>
         <td>{{company.company_type}}</td>
         <td>{{company.manager}}</td>
         <td>{{company.registration_number}}</td>
         <td>{{company.date_created}}</td>
         <td>{{company.telephone_number}}</td>
         <td>
            <a href="show/{{company.id}}" rel="tooltip" title="View & Edit">
               <i class="icon-eye-open"></i>
            </a>
         </td>
      </tr>
   </tbody>
</table>

</div>
